In [2]:
work.hours <- c(5, 6, 3, 3, 2, 4, 7, 5, 2, 3, 5, 6, 5, 4, 4, 3, 5, 2, 5, 3)
table(work.hours)

work.hours
2 3 4 5 6 7
3 5 3 6 2 1

In [4]:
data.frame(table(work.hours))

  work.hours Freq
1 2          3
2 3          5
3 4          3
4 5          6
5 6          2
6 7          1

In [6]:
freq <- table(work.hours)
sum(freq)

[1] 20

In [9]:
data.frame(freq/sum(freq))

  work.hours Freq
1 2          0.15
2 3          0.25
3 4          0.15
4 5          0.30
5 6          0.10
6 7          0.05

In [11]:
data.frame(cumsum(freq/sum(freq)))

  cumsum.freq.sum.freq..
2 0.15
3 0.40
4 0.55
5 0.85
6 0.95
7 1.00

In [14]:
ex.1 <- read.csv("data//ex1.csv")
head(ex.1)  # 变量的值为数字是，为数值变量，反之为因子

  id      sex    height
1 5696379 FEMALE 182
2 3019088 MALE   168
3 2038883 MALE   172
4 1920587 FEMALE 154
5 6006813 MALE   174
6 4055945 FEMALE 176

**注意：如果要用数据来表示水平的因子，则必须显式声明为因子，否则会被当数值变量（定量数据）处理。**

# 问题
## 2.2

In [20]:
calves <- c(1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 
    4, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7)
freq <- table(calves)
data.frame(freq)
data.frame(cumsum(freq))

  calves Freq
1 1       4
2 2       3
3 3      11
4 4      10
5 5       4
6 6       6
7 7       7

  cumsum.freq.
1  4
2  7
3 18
4 28
5 32
6 38
7 45

In [23]:
data.frame(freq/sum(freq))

  calves Freq
1 1      0.08888889
2 2      0.06666667
3 3      0.24444444
4 4      0.22222222
5 5      0.08888889
6 6      0.13333333
7 7      0.15555556